#fondoTablaDashCompProy {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 2em;
  border-spacing: 5px;
  margin-top: 10px;
  border-radius: 0 0 0px 0px;
}

#InfoDashCpmpProy {
  border-radius: 30px 30px 0 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.btn-General-Pag {
  background-color: #e10b1c;
  border-style: none none none none;
  font-size: 12pt;
  border: #e10b1c solid 1px;
  border-radius: 7px;
  padding: 0.5em;
  color: white;
  margin-left: 1em;
}

.btn-General-Pag:hover {
  background-color: #ffffff;
  color: #e10b1c;
}

#espacioEntreOpciones {
  padding-left: 1em;
}

#espacioEntreOpcionesCantReg {
  padding-left: 5em;
}

#tableResumen {
  border-radius: 10px;
  border: 1px grey solid;
  width: 100%;
  margin: auto;
  background-color: #f3f2f2;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.tabla-promedios {
  border-collapse: separate;
  border-spacing: 5px;
  text-align: left;
  width: 250px;
}

.tabla-promedios th,
.tabla-promedios td {
  padding: 5px;
}


/* COLORES BARRAS DASHBOARD TABLA CON LINEA PORC */
.yellow-progress-bar .progress-bar {
  background-color: #e9dc65;
  color: black;
  font-size: 11pt;
  font-weight: 700;
}
.lightGreen-progress-bar .progress-bar {
  background-color: #94ff01;
  color: black;
  font-size: 11pt;
  font-weight: 700;
}
.red-progress-bar .progress-bar {
  background-color: #f71717;
  color: rgb(255, 255, 255);
  font-size: 11pt;  font-weight: 700;
}
.green-progress-bar .progress-bar {
  background-color: #02c202;
  color: rgb(255, 255, 255);
  font-size: 11pt; font-weight: 700;
}
.orange-progress-bar .progress-bar {
  background-color: #ff7300;
  color: rgb(0, 0, 0);
  font-size: 11pt; font-weight: 700;
} 
/* ----------- */

/* Estilos para las flechas de mejora y empeora */
.diferencia {
  font-weight: bold;
  margin-left: 5px;
  font-size: 15px;
  vertical-align: middle;
  padding-bottom: 3px;
  
}

.mejora {
  color: green; /* Color de la flecha de mejora (verde) */
}
.empeora {
  color: red; /* Color de la flecha de empeora (rojo) */
}

.btnRedirect{
    color: rgb(119, 119, 119);
    font-weight: 600;
    border: none;
    background: none;
    text-decoration: none;
    text-align: center;
    font-size: 10pt;
    text-decoration: underline ;
    
}
.ciclo span{
  vertical-align: top;
}