.wrapper {
  border: 3px solid rgb(0, 255, 221);
}

.container {
  background-color: rgb(252, 227, 0);
}

.barCompleted {
  background-color: rgb(255, 0, 234);
  width: 80%;
  color: #e10b1c;
}

.label {
  font-size: 20px;
  color: green;
} 