.tip {
  position: relative;
  display: inline-block;
}

.tip span {
  position: absolute;
  background-color: #333333;
  color: white;
  padding: 5px;
  border-radius: 5px;
  left: 0;
  top: 100%;
  display: none;
  z-index: 100;
  width: 16em;
}

.tip:hover span {
  display: block;
}



.btn-Other {
  background-color: #e10b1c;
  border-style: none none none none;
  font-size: 10pt;
  /* border: #e10b1c solid 1px; */

  border: #e10b1c solid 1px;
  width: 50%;
  width: 100%;
  border-radius: 7px;
  color: white;
}

.btn-Other:hover {
  background-color: #ffffff;
  color: #e10b1c;
}


#btn {
  background-color: #e10b1c;
  margin-left: 10px;
  border: none;
  border: #e10b1c solid 1px;
}

#btn:hover {
  background-color: #ffffff;
  color: #e10b1c;
}

#btnAtras {
  background-color: #e10b1c;
  border: #e10b1c solid 1px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  padding: 6px;
}

#btnAtrasEvaluacion {
  background-color: #e10b1c;
  border: #e10b1c solid 1px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  padding: 6px;
  margin-left: 4em;
  margin-top: 1em;
}

#btnAtrasPRUEBASDash {
  background-color: #e10b1c;
  border: #e10b1c solid 1px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  padding: 6px;
  margin-left: 4em;
  margin-top: 12px;
}
