#fondo1 {
  background-color: rgb(241, 241, 241);
    background-image: url("/Logo.png");
    background-repeat: round; 
    background-size: 30em;
  }
  
  /*Scroll*/
  
  #fondo1::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgb(37, 1, 1);
  }
  
  #fondo1::-webkit-scrollbar:vertical {
    width: 10px;
  }
  
  #fondo1::-webkit-scrollbar-thumb {
    background-color: #6d6767;
    border-radius: 20px;
  }
  
  #fondo1::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  #fondo1::-webkit-scrollbar-thumb:active {
      background-color: #b4b4b4;  }
  