.sctn_res_ihh_colab_mes .tbl_res_ihh_colab_mes .td_num_right_text {
    width: min-content;
    text-align: right;
  }

  .cl_slct_acop{
    width: 600px;
  }
  .div_list_mes_acop_info_acop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    width: 850px;
    font-size: 15pt;
  }